{% extends 'base.html' %}
{% load static %}?

{% block title %} Login {% endblock %}

{% block style %}
    <link href="{% static 'admin/css/login.css' %}" rel="stylesheet" type="text/css"> 
{% endblock %}

{% block content %} 
    <div class="content-form">
        <form role="form" action="" method="post">
            {% csrf_token %}
            <fieldset>
                <!-- <i class="fas fa-2x fa-stream text-orange mb-4"></i> -->
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
                <input type="password" class="form-control" placeholder="Password" name="password" value="" required>
                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div> -->
                 <!-- Change this to a button or input when using this as a form --> 
                <input type="submit" class="btn btn-lg btn-info btn-block text-white" value="Sign in" />
            </fieldset>  
        </form>
        <p class="mt-5 mb-3 text-muted">SPMC Pasko Fiesta 2019</p>
    </div>
{% endblock %}
