{% extends 'base.html' %}
{% load static mathfilters %}

{% block title %} Overall Rating {% endblock %}

{% block style %} 
    <style>
        body {
            background-color: rgb(255, 255, 255) !important; 
        }
        .signature,
        .signature-note  {
            border: none;
            display: block;
            border-top: 1px solid rgb(102, 102, 102);
            width: 250px;
            font-size: 14px;
        }
        .table-overall,
        .table-overall thead th,
        .table-overall tbody td {
            font-size: 14px;
            padding: 6px !important;
        }
        .table.dataTable.no-footer,
        .table.dataTable thead th {
            border-bottom: none;
            border-collapse: collapse;
        }
    </style>
    <style type="text/css" media="print">
 
        /* @page {size:landscape}  */   
        @media print{
            @page {
                size: landscape;
            }
            h1 {font-size: 24px;}
            p {font-size: 16px;}
            .table-responsive {overflow: visible !important;}
            .signature,
            .signature-note   {
                width: 250px;
                margin-top: 32px !important;
                font-size: 16px;
            }
            #foot-note {
                margin-top: -100px !important; 
                margin-bottom: 0 !important;
                float: right;
            }
            .signature-note {
                float: right; 
                margin-top: -30px !important; 
            }
        }
        
    </style>
{% endblock %}

{% block content %} 

    {% block navbar %} 
        {% include 'includes/navbar.html' %}  
    {% endblock %}
    
    <div class="container-fluid pl-4 pr-4">
        {% block section %}
            <section class="mt-5">
                <h1 class="text-secondary">{{ details.title }} ({{groups.0.detail.name}})</h1> 
                <p class="text-secondary">Hospital Week 2019</p> 
            </section>
        {% endblock %}
        
        <hr>

        {% block article %} 
            <article>
                <div class="row">
                    <div class="col-md-12">
                        {% if groups %} 
                            {% for group in groups %}
                                <div class="card bg-none border-0"> 
                                    <!-- <div class="clearfix">
                                        <a href="/pageant_overall/{{details.id}}/{{group.detail.id}}" target="_blank">
                                            <button class="btn btn-default btn-outline-secondary float-right mr-2"> <i class="fas fa-print"></i> Print</button> 
                                        </a>
                                    </div> -->
                                    {% for category in group.categories %}
                                        <h6 class="mt-3">{{category.detail.name}} ({{category.detail.weight}}%)</h6>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-bordered table-overall nowrap" id="table-overall" style="width:100%">
                                                <thead class="text-center">
                                                    <tr>
                                                        <th rowspan=2>#</th>
                                                        <th rowspan=2>Participant</th>
                                                        {% for criteria_row in categories.0.criteria %}
                                                            <th colspan="{{judges|length}}">{{criteria_row.name}} <br> ({{criteria_row.weight}}%)</th>
                                                        {% endfor %}
                                                        <th colspan="{{judges|length|add:'3'}}">Total <br> (100%)</th>
                                                    </tr>
                                                    <tr>
                                                        {% for criteria_row in categories.0.criteria %}
                                                            {% for judge in judges %}
                                                                <th> J{{forloop.counter}} </th>
                                                            {% endfor %}
                                                            <!-- <th>Avg</th> -->
                                                        {% endfor %}
                                                        {% for judge in judges %}
                                                            <th> J{{forloop.counter}} </th>
                                                        {% endfor %}
                                                        <th> Avg </th>
                                                        <th> Deduction </th>
                                                        <th> Score </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for participant in category.participants %}
                                                        <tr>
                                                            <td class="text-center"> {{forloop.counter}} </td>
                                                            <td> {{participant.detail.name}} </td>
                                                            
                                                            {% for rating_row in participant.rating %}
                                                                {% for score_row in rating_row.scores %}
                                                                    <td> {{score_row|default:"---"}} </td>
                                                                {% endfor %}
                                                                <!-- <td>{{rating_row.pt_average|floatformat:3}}</td> -->
                                                            {% endfor %}

                                                            {% for totals_row in participant.totals %}
                                                                <td> {{totals_row}} </td>
                                                            {% endfor %}

                                                            <td class="text-info "> <b>{{participant.participant_gt|floatformat:3}}</b> </td>
                                                            <td class="{% if participant.detail.deduction %} text-danger font-weight-bold {% endif %}"> {{participant.detail.deduction}} </td>
                                                            <td class="text-success text-center"> <b> {{participant.participant_gt|sub:participant.detail.deduction|floatformat:3}} </b> </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>                  
                                    {% endfor %}
                                </div> 
                            {% endfor %}   

                            <!-- Grand Total -->
                            <!-- {% for group in groups %}
                                <div class="card bg-none border-0 mt-4 mb-0">
                                    <h6 class="mt-3">Overall</h6>
                                    <table class="table table-bordered table-striped m-0" width="100%" id="table-grand-total">
                                        <thead class="text-center">
                                            <tr>
                                                <th rowspan="2">No</th>
                                                <th rowspan="2">Candidate</th>
                                                {% for category in group.categories %}
                                                    <th colspan=2>{{category.detail.name}}</th>
                                                {% endfor %}
                                                <th rowspan="2">Grand Total <br> (100%)</th>
                                            </tr>
                                            <tr>
                                                {% for category in group.categories %}
                                                    <th>Score</th>
                                                    <th>Weight ({{category.detail.weight}} %)</th>
                                                {% endfor %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for overall_row in group.overall %}
                                                <tr>
                                                    <td>{{overall_row.detail.order}}</td>
                                                    <td>{{overall_row.detail.name}}</td>
                                                    {% for score_row in overall_row.scores %}
                                                        <td>{{score_row.score}}</td>
                                                        <td>{{score_row.percentage}}</td>
                                                    {% endfor %}
                                                    <td class="text-success"> <b> {{overall_row.total}}</b></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endfor %}     -->

                        {% endif %}
                    </div>
                </div>
            </article>
        {% endblock %}

        {% block footer %}
            <footer class="mt-5 mb-5">
                <p class="mb-4">Confirmed: </p>
                {% for judge_row in judges %}
                    <input type="text" class="signature bg-none mt-4 ml-2 text-dark" value="{{judge_row.user.first_name}} {{judge_row.user.last_name}}" disabled>
                {% endfor %}    

                <p class="mb-4 mt-4" id="foot-note"> Noted: </p>
                <input type="text" class="signature-note bg-none mt-4">
            </footer>
        {% endblock %}
        
    </div>
    
{% endblock %}


{% block script %}
    <script>
        $(document).ready(function () {
            $('#table-overall').DataTable({
                resposive: true,
                searching: false,
                paging: false,
                bInfo: false,
            });
            $('#table-grand-total').DataTable({
                resposive: true,
                searching: false,
                paging: false,
                bInfo: false,
            });
        });
        
    </script>
{% endblock %}